
<div class="post-add">
<h2>Add new blog</h2>
<form class="post-form" action="/add" method="POST">
    <label for="title">Tittle:</label>
    <input type="text" id="title" name="title" required>
    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea>
    <button type="submit">Add new</button>
</form>
</div>